<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/ABC/user/vo/User.hbm.xml</value>
				<value>com/ABC/category/vo/Category.hbm.xml</value>
				<value>com/ABC/product/vo/Product.hbm.xml</value>
				<value>com/ABC/categorysecond/vo/CategorySecond.hbm.xml</value>
				<value>com/ABC/order/vo/Order.hbm.xml</value>
				<value>com/ABC/order/vo/OrderItem.hbm.xml</value>
				<value>com/ABC/adminuser/vo/AdminUser.hbm.xml</value>
			</list>
		</property>
		
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action的配置 ===========================-->
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="com.ABC.index.action.IndexAction" scope="prototype">
		<!-- 注入分类的service -->
		<property name="categoryService" ref="categoryService"></property>
		<!-- 注入热门商品的service -->
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 用户模块的Action -->
	<bean id="userAction" class="com.ABC.user.action.UserAction" scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 配置验证码Action -->
	<bean id="checkImgAction" class="com.ABC.user.action.CheckImgAction" scope="prototype">
	</bean>
	
	<!-- 商品模块的Action -->
	<bean id="productAction" class="com.ABC.product.action.ProductAction" scope="prototype">
		<!-- 注入service -->	
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 购物车的Action -->
	<bean id="cartAction" class="com.ABC.cart.action.CartAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 订单模块的Action -->
	<bean id="orderAction" class="com.ABC.order.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	<bean id="adminUserAction" class="com.ABC.adminuser.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	<!-- 后台一级分类管理的Action -->
	<bean id="adminCategoryAction" class="com.ABC.category.adminaction.AdminCategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	
	<!-- 后台二级分类管理的Action -->
	<bean id="adminCategorySecondAction" class="com.ABC.categorysecond.adminaction.AdminCategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"></property>
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	
	<!-- 后台商品管理的Action -->
	<bean id="adminProductAction" class="com.ABC.product.adminaction.AdminProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>
	
	<!-- 后台订单管理的Action -->
	<bean id="adminOrderAction" class="com.ABC.order.adminaction.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	
	
	
	<!-- Service的配置 ==========================-->
	<bean id="userService" class="com.ABC.user.service.UserService">
		<!-- 注入Dao -->
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="categoryService" class="com.ABC.category.service.CategoryService">
		<!-- 注入CategoryDao -->
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	
	<bean id="productService" class="com.ABC.product.service.ProductService">
		<!-- 注入ProductDao -->
		<property name="productDao" ref="productDao"></property>
	</bean>
	
	<bean id="orderService" class="com.ABC.order.service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean id="adminUserService" class="com.ABC.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
	
	<!-- 二级分类管理的Service -->
	<bean id="categorySecondService" class="com.ABC.categorysecond.service.CategorySecondService">
		<property name="categorySecondDao" ref="categorySecondDao"></property>
	</bean>
	
	
	
	<!-- Dao的配置 =============================-->
	<bean id="userDao" class="com.ABC.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="categoryDao" class="com.ABC.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="productDao" class="com.ABC.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="orderDao" class="com.ABC.order.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 后台登录的Dao -->
	<bean id="adminUserDao" class="com.ABC.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 二级分类的Dao -->
	<bean id="categorySecondDao" class="com.ABC.categorysecond.dao.CategorySecondDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
